footer
  .container 
    div
      a(href="#profile") Profile
      a(href="#hobby") Hobby
      a(href="#point") Strong Points
      a(href="#point") Weak Points
      a(href="#news") News
    div
      p 
        i#copyright
        | My Portfolio